<div class="table-responsive">
  <table *ngIf="listEntries && listEntries.length > 0; else emptylist" class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th *ngFor="let field of fields" scope="col">{{field.label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of listEntries">
        <td *ngFor="let field of fields">
          <ng-container *ngIf="field.key === 'acciones'; else elseTemplate">
            <button class="btn btn-success btn-sm" (click)="dispatchVehicle(entry.licencePlate)"
              title="Registrar salida"><i class="ni ni-check-bold"></i></button>
          </ng-container>
          <ng-template #elseTemplate>
            {{entry[field.key]}}
          </ng-template>

        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #emptylist>
    <div class="alert alert-default m-2 shadow" role="alert">
      No hay vehículos actualmente en el parqueadero.
    </div>
  </ng-template>

</div>