<div class="modal-header bg-success">
  <h3 class="modal-title font-weight-bold text-white text-center" id="modal-basic-title">Salida registrada</h3>
</div>
<div class="modal-body bg-success">
  <p class="m-0 text-white text-center">valor a cobrar:</p>
  <h1 class="text-center text-white font-weight-bold display-3" id="paymentValue">{{billMasked}}</h1>
</div>
<div class="modal-footer bg-success rounded-bottom">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">OK</button>
</div>