<div class="modal-header bg-light-gray">
  <h3 class="modal-title font-weight-bold" id="modal-basic-title">Confirmar salida</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body bg-light-gray">
  <p class="m-0">¿Está seguro que desea retirar el vehiculo con placa: <span
      class="font-weight-bold">{{licencePlate}}</span> del parqueadero?</p>
  <div>
  </div>
</div>
<div class="modal-footer bg-light-gray rounded">
  <button type="button" class="btn btn-default" id="btnDemissDispatch" (click)="activeModal.dismiss('Cross click')">Cancelar</button><button
    type="button" class="btn btn-primary" id="btnConfirmDispatch" (click)="confirmDispatch()">Confirmar</button>
</div>